<!DOCTYPE html>
<html>
  <head>
    <title>Bootcont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container">
  
    <div>
      <a  href="#">Quotes App</a>
    </div>
    <div class="w3-bar w3-black">
      <a href="/static_pages/home" class="w3-bar-item w3-button w3-mobile">Home</a>
      <a href="/" class="w3-bar-item w3-button w3-mobile">Quotes</a>
      <a href="/static_pages/help" class="w3-bar-item w3-button w3-mobile">Help</a>
      <a href="/static_pages/about" class="w3-bar-item w3-button w3-mobile">About</a>
    </div>

    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
